*~
*.o
.dirty
.target
.arch
autom4te.cache
config.arch
config.arch.32
config/.config*
config/autoconf.h
config/scripts/lxdialog/lxdialog
images/
romfs/
tmp/

# fix up missing .gitignore entries

user/busybox/applets/usage_pod
user/busybox/busybox.links
user/busybox/docs/busybox.net/

user/cpufrequtils/libcpufreq.a

user/e2fsprogs/e2fsck/crc32table.h
user/e2fsprogs/e2fsck/gen_crc32table
user/e2fsprogs/intl/charset.alias
user/e2fsprogs/intl/libgnuintl.h
user/e2fsprogs/intl/libintl.a
user/e2fsprogs/intl/libintl.h
user/e2fsprogs/intl/ref-add.sed
user/e2fsprogs/intl/ref-del.sed
user/e2fsprogs/misc/default_profile.c
user/e2fsprogs/misc/e2undo
user/e2fsprogs/misc/e2undo.8
user/e2fsprogs/misc/uuidd
user/e2fsprogs/misc/uuidd.8
user/e2fsprogs/public_config.h

release/

git_*
go_*
